<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css\syle.css">
    <link rel="stylesheet" href="bootstrap\font-awesome use this\css\font-awesome.css">
   
</head>
<body>
    
    <div class="  container mt-5 ">
      <div class=" tamanho row align-items-center">
    
          <div class="col-md-10 mx-auto col-lg-5">
            <form action="" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="mb-4 text-center">
                    <h4>Login</h4>
                </div>
                <div class="form-floating mb-3">
                   <input type="email" class=" borda form-control border-#fd7e14 input-border" id="inputEmail" placeholder="Introduza o email">
                    <label  for="inputEmail"><i class="fa-solid fa-envelope" style="color: #ff9d14;"></i> Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class=" borda form-control border-#fd7e14 input-border" id="inputPassword" placeholder="Introduza a sua senha">
                    <label for="inputPassword"><i class="fa-solid fa-lock" style="color: #ff9d14;"></i> Password</label>
                </div>
                
                <div class=" linha mb-1 text-end border-bottom border-1 border-#fd7e14">
                    <p> <a href="#" class="nav-link text-dark">Esqueceu a senha?</a> </p>
                </div>
    
                <div class=" mb-1 text-center">
                    <p> <a href="Cadastro.html" class="nav-link text-dark text-bold">Nao tem uma conta? Clique aqui</a> </p>
                </div>
                <button class=" btn w-100 btn btn-lg btn-#fd7e14" type="submit" > Entrar</button>
            </form>
    
          </div>
      </div>
    </div>
</body>    
</html>