<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Produto - Gold Things</title>
</head>
<body>
<!-- As a heading -->
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-white fs-1">Gold Things</span>
    <span class="mb-0 h5 text-white fs-5">Bem vindos!</span>
  </div>
</nav>

<div class="row">
  <div class="col-2">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Início</a>
      <a href="cliente" class="list-group-item list-group-item-action">Cliente</a>
      <a href="funcionario" class="list-group-item list-group-item-action">Funcionario</a>
      <a href="/" class="list-group-item list-group-item-action">Sair</a>
    </div>
  </div>

  <div class="col-6 p-4">
    <form class="row g-3" th:action="@{/produtos/produto-save}" th:object="${produto}" method="post" enctype="multipart/form-data">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" th:field="*{nome}" id="inputPassword4">
      </div>
      <div class="col-md-6">
        <label for="bi" class="form-label">Descicao</label> <br>
        <textarea maxlength="" th:field="*{descricao}">descreva...</textarea>
      </div>
      <div class="col-6">
        <label for="" class="form-label">Preco</label>
        <input type="number" th:field="*{preco}" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="col-3">
        <label for="" class="form-label">Quantidade</label>
        <input type="number" th:field="*{quantidade}" class="form-control" id="inputAddress2" placeholder="">
      </div>
      <div class="col-md-3">
        <label for="departamento" class="form-label">Validade</label>
        <input type="date" th:field="*{data_exp}" class="form-control" id="inputCity">
      </div>
      <div class="col-md-5">
        <label for="" class="form-label">Imagem produto</label>
        <input type="file" name="file" class="form-control" accept="image/png, image/jpeg" id="inputAddress2" placeholder="">
      </div>
      <div class="col-md-3 mt-3">
        <button class="btn btn-success form-control" type="submit" name="">Salvar</button>
      </div>
    </form>
    <div class="mt-4">
    	<a href="produto-action" th:href="@{/produtos/listar}" class=""><button class="btn btn-dark form-control" type="submit" name="">Ver Produtos</button></a>
    </div>
  </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>